* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000000;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
}
ul,
ol {
  list-style: none;
}
a {
  list-style: none;
}
/* 
4
3
2
1
*/
.container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px;
}
.h1txt {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  text-align: left;
  color: rgb(33, 150, 243);
}
.nextH1txt {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  text-align: left;
  color: rgb(0, 0, 0);
}
.list-first {
  display: flex;
  align-items: flex-end;
}
.a-item-first-list {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
}

.a-item-fisrt-list:hover {
  color: rgb(33, 150, 243);
}
.item-fisrt-list {
  margin-left: 15px;
}
/*  hero */
.hero {
  background-image: url(./imgs/pc/backgroundimmage.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.herotxt {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
}
.herobutton {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);

  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
}
.containerhero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* list */
.container-list {
  margin: 115px;
}
.stylelist {
  display: flex;
  margin-left: 120px;
}
.styleforimg {
  border-radius: 4px;

  background: rgb(245, 244, 250);
  width: 270px;
  height: 120px;
}
.imaglist {
  margin-left: 40%;
  margin-top: 10%;
}
.txtlist {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  max-width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ptxtlist {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  max-width: 45%;
}
/* about us */
.txtUs {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
}
.content-us {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
  width: 370px;
  height: 294px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.us-first {
  background-image: url(./imgs/aboutus/imgnotbook.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.us-second {
  background-image: url(./imgs/aboutus/imgphonenootbok.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.us-third {
  background-image: url(./imgs/aboutus/imgthirdimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.list-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content-us:not(:last-child) {
  margin-right: 26px;
}
.span-txt {
  background: rgba(47, 48, 58, 0.8);
}
